  .box-container {
    display: flex;
    justify-content: center;
    text-align: center; /* Center the text */
    padding-bottom: 10px;
    padding-right: 22rem;
  }
  
  .rounded-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 130px;
    height: 50px;
    background: linear-gradient(to bottom, #a70000 50%, #610000 50%);
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #ffffff;
    font-family: 'Google Sans', sans-serif;
  }
  
  .month-year{
    font-size: 15px;
    line-height: 1.5;
  }

  #news {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 420px;
    max-height: 420px;
    margin: 0;
  }
  
  .news-container {
    min-height: 40px;
    max-height: 15%;
    max-width: 500px;
    min-width: 500px;
    border-radius: 1rem;
    background-color: #1A1A1A;
    padding: 0px 30px 20px 30px;
    margin: 0 0 10px 0;
    font-family: 'Google Sans', sans-serif;
  }
  
  .time {
    font-size: 1rem;
    color: #aeaeae;
  }
  
  .headline {
    padding-top: 5px;
    padding-left: 15px;
    font-weight: 900;
    font-size: 0.8rem;
    color: white;
  }
  
  .news {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    color: #aeaeae;
    font-size: 0.9rem;
  }
  
  #news-link a {
    color: #aeaeae;
    padding-left: 15px;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
  }
  
  #info {
    color: white;
  }
  
  button {
    background-color: #FF0000;
    font-family: 'Google Sans', sans-serif;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 13px;
    padding: 5px 20px;
    
  }

