@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&display=swap');


.outer-loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.loading-container {
  min-width: 100%;
  transition: visibility 0.1s, opacity 0.1s;
  padding-bottom: 10px;
}

.loading-text {
  color: white;
  margin-bottom: 10px;
  align-self: start;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

.loading-box {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: #ddd;
  position: relative;
  overflow: hidden;
}

.loading-box:before {
    content: "";
    display: block;
    position: absolute;
    width: 130px;
    height: 100%;
    background: linear-gradient(to right, rgba(76, 175, 80, 0), #870000, rgba(76, 175, 80, 0));
    animation: loading-box 1.3s infinite ease-in-out;
  }
  
  @keyframes loading-box {
    0% {
      left: -100px;
    }
    100% {
      left: 90%;
    }
  }

/* Responsive Styles */
@media (max-width: 768px) {
  .loading-container {
    min-width: 100%;
  }

  .loading-text {
    font-size: 0.9rem;
  }

  .loading-box {
    height: 8px;
  }
}

@media (max-width: 480px) {
  .loading-container {
    min-width: 100%;    
  }

  .loading-text {
    font-size: 0.8rem;
  }

  .loading-box {
    height: 6px;
  }
}

@media (max-width: 767px) {
  .loading-box {
    height: 15px;
  }
}

@media (max-width: 768px) {
  .outer-loading-container {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .loading-box {
    max-width: 100%;
  }
}