/* Modal.css */

  .chatModal {
    margin-top: 50px;
  }
  
  .modal-content {
    width: auto;
  }

  .modal {
    position: fixed;
    top: 10em;
    right: -200%; /* Start off-screen */
    width: 600px;
    height: 100%;
    transition: right 0.8s ease;
    z-index: 1000;
  }
  
  .modal.open {
    right: 0;
  }
    
  .close {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 24px;
  }