
nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    padding-bottom: 30px;
    padding-left: 28em;
}

nav a {
    color: white;
    font-size: 30px;
    margin: 0 10px;
    text-decoration: none;
    text-shadow: 5px 5px 5px black;
    font-family: 'Google Sans', sans-serif;
}

#agent-image{
    display: flex;
    width: 50px;
    margin-left: 25em;
    cursor: pointer;
}